<div class="container-fluid">
    <div class="row">

        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-md-12 Part_sel_dev_top_text" style="text-align:center"><b>@Model[i].name</b></div>
            <div class="col-md-5">
                <div class="Part_sel_dev_text">
                id: <b>@Model[i].id</b> <br>
                Тип: <b>@Model[i].type_Device_And_Programs.name</b>  <br>               
                Опис:   @Model[i].description
                </div>

                  <a class="Part_sel_dev_url" target="_blank" href="https://telegram.me/KD_ITSD_bot?start=QRProblemDevice_and_Programs_id_@Model[i].id">URL посилання на відправку команди боту</a>

            </div>
            <div class="col-md-7">
                <div class="Gen_Qr_list_dev_and_probl_result" onclick="generateQR300('@Model[i].id')" id="result300_@Model[i].id"><span class="Gen_Qr_list_dev_and_probl_text">QR</span> </div>
            </div>
            <hr />
        }






       
        
    </div>
    
</div>
